* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #303736;
    background-color:#d0aa5b;
}

.header {
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    border: 3px solid #ddd;
}

.profile-pic {
    display: flex;
}

.gene-pic {
    display: flex;
    max-width: 200px;
    max-height: 200px;
}
    

.header h1 {
    font-size: 30px;
    line-height: 49px;
    color: #1fa1b8;
}

.subheader {
    display: flex;
    width: 100%;
    overflow: auto;
    border: 3px solid #ddd;
}

nav {
    display:flex;
    justify-content: flex-end;
    
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
    flex-direction: row;
}

ul li {
    margin-left: 20px;
}

.about-me-main {
    display:flex;
    width: 100%;
}


.about-me-left {
    display: flex;
    justify-content: center;
    border-right: 3px solid #ddd;  
    width: 70px;
}

.about-me-right {
  margin-left: 10px;
}

.portfolio-main {
    display:flex;
    width: 100%;
}

.portfolio-left{
  display: flex;
  align-items: center;
}

.portfolio-left p {
    border-right: 3px solid #ddd;
    ;
    width: 70px;
    
}

.contact-me-main {
    display:flex;
    width: 100%;
    border: 3px solid #ddd;
    
}

.contact-me-left {
    display: flex;
    border-right: 3px solid #ddd;
    width: 70px;
  }

.contact-me-right {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}




.project-1-big {
  display:flex;
  justify-content: center;
  width: 100%;
}

.project-1 {
  width: 90%;
}

.project-1-label {
  position: relative;
  top: 25%;
  border: rgb(10, 10, 10) solid 3px;
  width: 10%;
  background: #ddd;
}

.project-small {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.project {
  width: 45%;
  height: 250px;
}




/* contact me section */
.contact-me-right {
  display:flex;
  flex-wrap: wrap;
  align-content: center;
}

.github {
    min-width: 32px;
    min-height: 32px;
}

.github:hover {
    filter: invert(51%) sepia(55%) saturate(617%) hue-rotate(141deg) brightness(93%) contrast(91%);
}

.linkedin {
    min-width: 32px;
    min-height: 32px;
}

.linkedin:hover {
    filter: invert(51%) sepia(55%) saturate(617%) hue-rotate(141deg) brightness(93%) contrast(91%);
}

.stack-overflow {
    max-width: 150px;
    max-height: 150px;
}

.stack-overflow:hover {
    filter: invert(51%) sepia(55%) saturate(617%) hue-rotate(141deg) brightness(93%) contrast(91%);
}





